html {
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

blockquote {
    font-size: 15px;
}
.more {
    margin: 0 0 20px;
    border-bottom: 1px solid #ccc;
    display: block;
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}
a.selectable {
  border-bottom: 1px black dotted;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 90vh;
  width:90%;
  margin-left: -45%;
  margin-top: -45vh;
  padding: 7px 10px 35px 25px;
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  text-align:left;
  z-index:50;
  background: lightgrey;
}
label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}
.popup p, .popup.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
.popup-content {
  white-space: pre;
  clear: both;
  position: absolute;
  top: 40px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  overflow-y: scroll;
  /* height: 100%; */
  /* margin-top: 40px; */
}
.popup .close {
  float: right;
}
.popup .download {
  float: left;
}

.index-row .title {
  font-size: 19px;
  box-shadow: 0px 0.2px 0px 0px black;
  color: #3c9a5f;
}
.index-row h1 {
  font-size: 20px;
}
.index-row h2 {
  font-size: 18px;
}
.index-row h3 {
  font-size: 16px;
}
.badge-row {
  margin-bottom: 15px;
  font-size: 16px;
}
.pull-right {
  float: right;
}
.post-preview h2 {
  font-size: 1.5em;
}
