<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular.js and SEO - pre-render content on the server</title>

    <!-- Bootstrap -->
    <!-- https://github.com/necolas/normalize.css -->
    <link href="/css/normalize.css" rel="stylesheet">
    <!-- https://github.com/oxalorg/sakura -->
    <link href="/css/sakura.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css"/>

    <!-- https://prismjs.com/ -->
    <!-- Plugins: Line Highlight, Line Numbers, Autolinker, File Highlight,
                  Keep Markup, Normalize Whitespace
    -->
    <!-- Langs: bash, c, cpp, docker, go, haskell, json, makefile, php, plsql,
                python, rust, smalltalk, sql, vim, yaml
    -->
    <link href="/css/prism.css" rel="stylesheet">
    <script src="/js/prism.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="page-header">
        <a href="/">vim, git, aws and other three-letter words</a>
      </div>
      <div class="post-title">
          <h1>Angular.js and SEO - pre-render content on the server</h1>
      </div>
      <div class="post-body">
          <p>With angular.js you have an HTML which looks like this:</p>
<pre><code class="lang-html">    &lt;span&gt;{{variableValue}}&lt;/span&gt;
    &lt;ul&gt;
        &lt;li ng-repeat=&quot;item in items&quot; ng-bind=&quot;item.name&quot;&gt;&lt;/li&gt;
    &lt;/ul&gt;
</code></pre>
<p>The simple way to make this content SEO-friendly is to pre-render data on the server and then allow angular to do it&#39;s job on the client.
<!-- more -->
For simple variables there is <a href="http://docs.angularjs.org/api/ng.directive:ngBind">ng-bind</a>.
And for lists there is <a href="http://docs.angularjs.org/api/ng.directive:ngInclude">ng-include</a>.
Here is the example from above with pre-rendered content:</p>
<pre><code class="lang-html">    &lt;span ng-bind=&quot;variableValue&quot;&gt;Static indexed value&lt;/span&gt;
    &lt;ul ng-include=&quot;&#39;your/dynamic/list&#39;&quot;&gt;
        &lt;li&gt;seo-friendly item1&lt;/li&gt;
        &lt;li&gt;seo-friendly item2&lt;/li&gt;
    &lt;/ul&gt;
    &lt;script type=&quot;text/ng-template&quot; id=&quot;your/dynamic/list&quot;&gt;
        &lt;li ng-repeat=&quot;item in items&quot; ng-bind=&quot;item.name&quot;&gt;&lt;/li&gt;
    &lt;/script&gt;
</code></pre>
<p>This way we have initial content for search bots and instructions for angular at the same time.</p>
<p>Note that the solution above works for simple cases but it can be not good for
complex pages or if there are many pages.  Actually what we do is duplicate the
content - we provide static content on the server site and then angular
requests content dynamically an overrides static data.</p>
<p>A better (and more complex) solution is to crawl the website and give static page
snapshots to search engines.  This can be done with a headless browser like
<a href="http://phantomjs.org/">PhantomJS</a> which you can run periodically to generate
static page snapshots.</p>
<p>There is also an easy way to do this - use a service like
<a href="http://www.brombone.com/">BromBone</a>.  It will do complex part of the job for
you and you only need to redirect search bots to static versions of your pages
generated by BromBone.</p>
<h2 id="links">Links</h2>
<p><a href="https://github.com/ithkuil/angular-on-server">Pre-rendering AngularJS on the server with Node.js and jsdom</a> and <a href="http://www.reddit.com/r/javascript/comments/1a3fdj/prerendering_angularjs_on_the_server_with_nodejs/">discussion on reddit</a></p>
<p>[angular and SEO discussion on google groups] (<a href="https://groups.google.com/forum/m/?fromgroups#!topic/angular/2uk2GYff28E">https://groups.google.com/forum/m/?fromgroups#!topic/angular/2uk2GYff28E</a>)</p>
<p>[Ajax crawling - google developers] (<a href="https://developers.google.com/webmasters/ajax-crawling/docs/getting-started">https://developers.google.com/webmasters/ajax-crawling/docs/getting-started</a>)</p>
<p>[AngularJS and SEO - approach based on PantomJS] (<a href="http://www.yearofmoo.com/2012/11/angularjs-and-seo.html">http://www.yearofmoo.com/2012/11/angularjs-and-seo.html</a>) and <a href="https://github.com/steeve/angular-seo">github repository</a></p>
<p>[BromBone - make your javascript powered website crawlable by Google (and other search engines)] (<a href="http://www.brombone.com">http://www.brombone.com</a>)</p>

      </div>
      <div>
<a href="https://stackexchange.com/users/261528">
<img src="https://stackexchange.com/users/flair/261528.png?theme=clean" width="208" height="58" alt="profile for Boris Serebrov on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Boris Serebrov on Stack Exchange, a network of free, community-driven Q&amp;A sites">
</a>
      </div>
      <div>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = 'https://serebrov.github.io/html/2013-05-24-angular-seo.html';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = 'html/2013-05-24-angular-seo.html'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://serebrov.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58056088-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>

